* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/*/ ===== Barra de navegacion ===== /*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 16px 32px;
    position: relative;
    height: 80px;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #3498db;
}

/*/ ===== main ===== /*/

.seccionPrincipal {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6f8aa6;
}

.seccionPrincipal p {
    font-size: 20px;
    margin: 15px 0;
}

.seccionPrincipal button {
    height: 60px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2e6b93;
    border: none;

}

.seccionPrincipal button a{
    text-decoration: none;
    color: #c4ced7;
    font-size: 30px;
}

.seccion1, .seccion2, .seccion3 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

.seccion1 .seccion3{
    background-color: #2e6b93;
}

.seccion2{
    background-color: #6f8aa6;
}


.seccion1 .texto, .seccion2 .texto, .seccion3 .texto {
    width: 45%;
}

.seccion1 p, .seccion2 p, .seccion3 p {
    font-size: 20px;
    margin-top: 10px;
}

/*/ ===== FOOTER ===== /*/
.footer {
    background-color: #2c3e50;
    color: #bdc3c7;
    padding: 24px 0;
    margin-top: 0;
    height: 200px;
}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #3498db;
}
