* {
    font-family:Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
    background-image: url(../imagenes/);
    background-color: rgb(183, 183, 183);
    background-attachment: fixed;
    background-size:cover; 
    background-position: center; 
    color: rgb(255, 255, 255);
}

.container {
    text-shadow: 0 0 5px rgb(42, 60, 95);
    border-radius: 10px;
}

#survey-form {
    border-radius: 10px;
    padding: 30px 35px;
    background-color: rgba(65, 93, 129, 0.63);
    width: 300px;
    box-shadow: 0 0 15px rgb(10, 15, 49);
    margin: auto;
    margin-bottom: 60px;
} 

header {
    font-size: 20px;
    text-align: center;
    margin: 40px 0 40px 0;
    text-shadow: 0 0 15px rgb(153, 174, 236);
}

#title {
    margin-bottom: -10px;
}

.form-control {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 16px;
}

.form-group label {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-group input {
    margin-bottom: 12px;
}


.form-group p {
    margin-bottom: 8px;
}

#name, #email, #contrasenia, #contraseniaR, #primarySurname, #secondarySurname, #number, #submit{
    border: 0px;
    border-radius: 5px;
    min-width: 100%;
    padding: 8px;
    box-shadow: 0 0 5px rgb(42, 60, 95);
    box-sizing: border-box;
    
}

#submit {
    text-shadow: 0 0 5px rgb(241, 241, 241);
    font-size: 18px;
    padding: 10px;
    color: white;
    margin-top: 25px;
    box-shadow: 0 0 15px rgb(42, 60, 95);
    background-color: rgba(25, 39, 53, 0.755);
}

#submit:hover {
    background-color: rgba(0, 0, 0, 0.856);
}
