/* Base */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #1a1a1a;
    background-color: rgb(232, 232, 232);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    background-image: url("../imagenes/pattern_fondo.png"), url("../imagenes/pattern_fondo.png");

    background-repeat: repeat, repeat;

    background-size: 260px 260px, 260px 260px;
    background-position: 0 0, 400px 400px;
    opacity: 0.07;

    animation: moverFondo 40s linear infinite;
}

@keyframes moverFondo {
    from {
        background-position:
            0 0,
            130px 130px;
    }
    to {
        background-position:
            260px 260px,
            390px 390px;
    }
}

/* Main */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 45px 25px;
}

.logo-izquierda {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    max-width: 320px;
}

.logo-izquierda img {
    width: 100%;
    height: auto;
    display: block;
}

/* Bloque principal */
.bloque {
    width: 100%;
    max-width: 520px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    padding: 24px 24px 0 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}

/* Texto */
.mensaje {
    text-align: center;
    margin-bottom: 5px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.mensaje h2 {
    margin: 0;
    font-size: 28px;
}

.mensaje p {
    margin-top: 8px;
    line-height: 1.5;
    color: #444444;
    font-size: 15px;
}

/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.campo label {
    font-size: 18px;
}

.campo input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    font-size: 16px;
}

.campo input:focus {
    border-color: #9a9a9a;
    outline: none;
}

.centrado {
    align-self: center;
    width: 100%;
    max-width: 350px;
}

.centrado input {
    width: 100%;
    box-sizing: border-box;
}

/* Botón grande */
.boton-grande {
    margin-top: 6px;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #cccccc;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.15s ease, transform 0.15s ease;
}

.boton-grande:hover {
    background-color: #333333;
    transform: translateY(-2px);
}

/* Aviso */
.aviso {
    color: #444444;
    text-align: center;
    font-size: 16px;
}

.linea {
    background-color: black;
    height: 1px;
    width: 100%;
    margin-top: 0%;
}

.bajo {
    margin-top: auto;
}

.norequeridos {
    
}